*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: #bed4e9;
  font-family: sans-serif;
}


.navbar{
  padding: 0 0;
  background-color:#daeaf7 ;
}

.navbar-toggler{
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-bold{
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  width: 20px;
}


.hero {
  background: url("images/pexels-pixabay-247600.jpg")
    no-repeat center center;
  background-size: cover;
  height: 400px;
  position: relative;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
}
#hero-text {
  background: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  border-radius: 40px;
  color: white;
  
 }

 .hero-text-green {
  color: white;
  text-shadow: 
    2px 2px 0px rgb(32, 118, 45),
    4px 4px 5px rgba(32, 118, 45, 0.5);
 }

 .mission{
  margin-top: 80px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
 }

 .mission-text p{
  padding: 0;
 }

  h2{
  text-align: center;
  font-size: 10px;
  
 }
 .container-ex{
   display: flex;
  flex-wrap: wrap;
  margin-left: 10px

  
 }

 .explore-box{
  margin-top: 40px;
  align-items: center;
  
 }

 .therapy-box{
  display: block;
  align-items: center;
  justify-content: center;
  width: 50%;
 }

 .row{
  display: flex;
  margin-top: 10px;
  text-align: center;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
 }